#budge {
  background: linear-gradient(var(--color-11) 600px, var(--color-1) 0);
}

.budge {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}

.budge h2 {
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
}

.budge h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background-color: var(--color-p1);
  position: absolute;
  left: -12px;
}

.budge-product,
.budge-details {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.budge-product {
  border-radius: 5px 0 0 5px;
  background: var(--color-12) url('../../img/dec/bottom-left.svg') no-repeat bottom 20px left 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-content: start;
}

.budge-product > * {
  grid-column: 1/-1;
}

.budge-product > label {
  grid-column: initial;
}

.budge-product label {
  font: 400 1rem/1.5 "Poppins", sans-serif;
  color:  var(--color-4);
  background-color: var(--color-10);
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border: 1px solid var(--color-10);
}

.budge-content label {
  margin-top: 20px;
}

.budge-product label::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-6);
  border-radius: 50px;
  margin-right: 8px;
}

.budge-product input:checked + label::before {
  border-color: var(--color-7);
  box-shadow: inset 0 0 0 3px var(--color-0), inset 0 0 0 6px var(--color-7);
}

.budge-product label:hover {
  background-color: var(--color-9);
  border-color: var(--color-9);
}

.budge-product input:focus + label {
  box-shadow: 0 0 0 2px var(--color-p1);
  border: var(--color-12);
}

.budge-product label span {
  display: none;
}

.budge-product input:checked + label span {
  display: inline-block;
}

.budge-product input {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.budge-product input:checked + label {
  background: var(--color-0);
  color: var(--color-11);
}

.budge-details {
  border-radius: 0 5px 5px 0;
  background: var(--color-0) url('../../img/dec/bottom-right.svg') no-repeat bottom 20px right 20px;
}

.budge-content {
  display: none;
}

.budge-content h2,
.budge-details h2:nth-of-type(n + 2) {
  margin-top: 20px;
}

#bikcraft:checked ~ #budge-bikcraft,
#insurance:checked ~ #budge-insurance {
  display: block;
}

.budge-detail {
  background-color: var(--color-0);
  padding: 20px;
  display: none;
  grid-template-columns: 1fr 1fr;
  border-radius: 4px;
  align-items: center;
  margin-top: 20px;
}

.budge-detail li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.budge-detail li img {
  width: 16px;
}

.budge-product input:checked + label + .budge-detail {
  display: grid;
} 

@media (max-width: 1200px) {
  .budge-product,
  .budge-details {
    padding:  32px;
  }
}

@media (max-width: 800px) {
  .budge {
    grid-template-columns: 1fr;
  }

  .budge-product {
    border-radius: 5px 5px 0 0;
    background: var(--color-12);
  }

  .budge-details {
    border-radius: 0 0 5px 5px;
  }
}

@media (max-width: 400px) {
  .budge-product {
    grid-template-columns: 1fr;
  }
}